:root {
  --primary-color: #4d77ff;
  --secondary-color: #56bbf1;
  --bg-default-color: #5ee6eb;
  --text-title-color: #dedede;
  --title-font: "Lobster", cursive;
  font-size: 2rem;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-default-color);
}

.btn {
  background-color: green;
}

.container {
  font-size: 1.2rem;
}

.title {
  font-family: var(--title-font);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(241, 113, 113);
  color: var(--text-title-color);
  font-size: 3rem;
}
