body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(228, 237, 247);
}

h1 {
  font-family: "Lobster", cursive;
  color: rgb(71, 224, 71);
  text-shadow: 1px 1px 2px red;
  font-size: 3rem;
  text-align: center;
}

.portrait-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 10px;
  box-shadow: 5px 5px #333;
}

.container {
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
  max-width: 80%;
  border: 2px solid black;
  background-color: #eee;
}

.inner-personal-info-container {
  display: flex;
  gap: 50px;
}
